.btn {
  padding: 1rem 4rem;
  font-size: 2.1rem;
  border-radius: 0.5rem;
  border: none;
}
.header {
  position: relative;
  height: 100vh;
  background-color: $color-primary;
  display: flex;
  flex-direction: row;

  &__text {
    // margin-top: 30rem;
    width: 31%;
    margin-left: 9.6rem;
    margin-top: 23em;
    height: auto;

    & .heading-1,
    & .paragraph {
      color: $color-white;
      margin-bottom: 2rem;
    }

    &--btn {
      background-color: $color-tertiary;
      color: $color-white;
      padding: 1rem 6rem;
    }
  }

  &__image {
    position: absolute;
    z-index: 2;
    right: 10em;
    top: 23em;
    &--1 {
      height: 75rem;
      width: 67rem;
    }
  }

  &__image::after {
    position: absolute;
    z-index: -1;
    right: -10rem;
    top: -10rem;
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba($color-tertiary, 0.28);
  }
}
