.btn {
  padding: 2rem 4rem;
  font-size: 2.1rem;
  border-radius: 0.5rem;
  border: none;
}

// header-section
.header {
  position: relative;
  height: 100vh;
  background-color: $color-primary;
  display: flex;
  flex-direction: row;
  z-index: -1;
  margin: 0;
  @media (min-width: 320px) and (max-width: 576px) {
    display: flex;
    flex-direction: column-reverse;
    padding: 2.4rem 2.4rem 5.6rem 2.4rem;
  }
  @media (min-width: 320px) and (max-width: 360px) {
    padding: 2.4rem 2.4rem 0rem 2.4rem;
  }
  &__text {
    width: 31%;
    margin-left: 9.6rem;
    margin-top: 20rem;
    height: auto;
    @media (min-width: 320px) and (max-width: 576px) {
      margin: 0 0 5rem 0;
      width: 100%;
    }

    & .heading-1,
    & .paragraph {
      color: $color-white;
      margin-bottom: 2rem;
      @media (min-width: 320px) and (max-width: 576px) {
        margin-bottom: 1rem;
      }
    }

    &--btn {
      background-color: $color-tertiary;
      color: $color-white;
      padding: 1rem 6rem;
    }
  }

  &__image {
    position: absolute;
    z-index: 1;
    right: 10rem;
    top: 10rem;
    margin-bottom: 50rem;
    @media (min-width: 320px) and (max-width: 576px) {
      left: 2.4rem;
      top: 2.4rem;
      margin-bottom: 0;
    }
    &--1 {
      height: 85rem;
      width: 67rem;
      @media (max-width: 360px) {
        height: 35rem;
        width: 25rem;
      }

      @media (min-width: 360px) and (max-width: 375px) {
        height: 45rem;
        width: 35rem;
      }
      @media (min-width: 400px) and (max-width: 576px) {
        height: 75rem;
        width: 55rem;
      }
    }
  }

  &__image::after {
    position: absolute;
    z-index: -1;
    right: -10rem;
    top: -9rem;
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba($color-tertiary, 0.28);

    @media (max-width: 320px) {
      width: 70%;
      top: 0;
      right: -7rem;
    }
    @media (min-width: 360px) and (max-width: 375px) {
      width: 70%;
      top: 0;
      right: -7rem;
    }

    @media (min-width: 400px) and (max-width: 576px) {
      display: none;
    }
  }
}

// about-section
.about {
  margin-top: 30.4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6rem 9.6rem 4.8rem 9.6rem;

  @media (min-width: 320px) and (max-width: 576px) {
    flex-direction: column;
    margin-top: 9.6rem;
    padding: 2.4rem;
    align-items: center;
  }
  &__image {
    display: flex;
    flex-direction: column;

    &--row {
      display: flex;
      flex-direction: row;
    }

    &--1,
    &--2,
    &--3,
    &--4 {
      height: 30rem;
      width: 25rem;
      margin-bottom: 1rem;
      background-color: rgba($color-secondary, 0.28);
      &:not(:last-child) {
        margin-right: 1rem;
      }
      @media (max-width: 375px) {
        height: 20rem;
        width: 15rem;
      }
      @media (min-width: 360px) and (max-width: 375px) {
        height: 25rem;
        width: 20rem;
      }
    }
  }

  &__content {
    margin-left: 13.5rem;
    @media (min-width: 320px) and (max-width: 576px) {
      margin: 4.8rem 0 4.8rem 0;

      & .paragraph {
        text-align: justify;
      }
    }
    & .heading-2 {
      @media (min-width: 320px) and (max-width: 576px) {
        text-align: center;
      }
      text-transform: uppercase;
      color: $color-tertiary;
      margin-bottom: 2rem;
    }
  }
}

// stories-section
.stories {
  display: flex;
  flex-direction: column;
  margin-top: 12rem;
  padding-left: 9.6rem;
  padding-right: 9.6rem;
  margin-bottom: 12rem;

  @media (min-width: 320px) and (max-width: 576px) {
    margin: 0;
    padding: 4.8rem 2.4rem;
  }
  & .heading-2 {
    min-width: 100%;
    text-align: center;
    color: $color-tertiary;
    text-transform: uppercase;
  }

  &__col {
    display: flex;
    justify-content: space-between;
    margin-top: 6.4rem;

    @media (min-width: 320px) and (max-width: 576px) {
      flex-direction: column;
    }
    &__1 {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 48.5%;

      @media (min-width: 320px) and (max-width: 576px) {
        width: 100%;
      }

      &--image {
        width: 100%;
        height: 100%;
        &--1 {
          height: 100%;
          width: 100%;
          background-size: cover;
        }
      }

      &--image::after {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        content: "";
        background-color: rgba($color-secondary, 0.4);
        z-index: 1;
      }
    }

    &__2 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 48.5%;
      @media (min-width: 320px) and (max-width: 576px) {
        width: 100%;
      }
      &__row {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 50%;
        @media (min-width: 320px) and (max-width: 576px) {
          flex-direction: column;
        }
        &:not(:last-child) {
          padding-bottom: 1.5rem;
        }
        &:not(:first-child) {
          padding-top: 1.5rem;
        }

        &__card {
          position: relative;
          &:not(:last-child) {
            margin-right: 1.7rem;
            @media (min-width: 320px) and (max-width: 576px) {
              margin-right: 0;
              margin-top: 2.4rem;
            }
          }
          &:not(:first-child) {
            margin-left: 1.7rem;
            @media (min-width: 320px) and (max-width: 576px) {
              margin-left: 0;
              margin-top: 2.4rem;
            }
          }

          height: 100%;
          width: 100%;
          &--image {
            width: 100%;
            height: 100%;
            &--1 {
              width: 100%;
              height: 100%;
            }
          }

          &--text {
            position: absolute;
            z-index: 2;
            padding: 2.4rem;
            bottom: 0;

            & .heading-4 {
              color: $color-white;
            }
            & .paragraph {
              color: $color-white;
              font-size: 1.6rem;
              margin-bottom: 0rem;
            }
          }
        }

        &__card::after {
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          content: "";
          background-color: rgba($color-tertiary, 0.4);
          z-index: 1;
        }

        &__card--2 {
          position: relative;
          &--image {
            height: 100%;
            width: 100%;
            &--1 {
              background-size: cover;
              width: 100%;
              height: 100%;
            }
          }

          &--image::after {
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            content: "";
            background-color: rgba($color-secondary, 0.7);
            z-index: 1;
          }

          &--text {
            position: absolute;
            z-index: 2;
            padding: 2.4rem;
            bottom: 0;

            & .heading-4 {
              color: $color-white;
            }
            & .paragraph {
              color: $color-white;
              font-size: 1.6rem;
              margin-bottom: 0rem;
              &:not(:last-child) {
                margin-bottom: 1rem;
              }
            }
          }
        }
      }
    }

    &__text {
      position: absolute;
      z-index: 2;
      padding: 2.4rem;
      bottom: 0;

      & .heading-4 {
        color: $color-white;
      }
      & .paragraph {
        color: $color-white;
        font-size: 1.6rem;
        margin-bottom: 0rem;
        &:not(:last-child) {
          margin-bottom: 1rem;
        }
      }
    }
  }
}

// contact-us
.contact {
  display: flex;
  flex-direction: column;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  @media (min-width: 320px) and (max-width: 576px) {
    padding: 4.8rem 2.4rem;
  }
  & .heading-2 {
    color: $color-tertiary;
    text-transform: uppercase;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 3.2rem;
    @media (min-width: 320px) and (max-width: 576px) {
      margin: 4.8rem 0 0 0;
    }
    &__group {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 3.2rem;
      width: 80rem;
      @media (min-width: 320px) and (max-width: 576px) {
        width: 100%;
      }
      & label {
        font-size: 1.6rem;
        font-weight: 400;
        font-family: $font-secondary;
      }

      & input {
        border: none;
        height: 50px;
        border-bottom: 1.8px solid $color-secondary;
        font-size: 2.1rem;
      }

      & textarea {
        border: none;
        border-bottom: 1.8px solid $color-secondary;
        font-size: 2.1rem;
      }
    }

    & .btn {
      background-color: $color-secondary;
      width: 30rem;
      color: $color-white;
      margin: 0 auto;
      margin-top: 2.4rem;

      @media (min-width: 320px) and (max-width: 576px) {
        padding-top: 1.6rem;
        padding-bottom: 1.6rem;
      }
    }
  }
}

//  featured
.featured {
  position: relative;
  z-index: -1;
  padding-top: 4.8rem;
  padding-left: 9.6rem;
  padding-right: 9.6rem;
  @media (min-width: 320px) and (max-width: 576px) {
    padding-top: 2.4rem;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }

  &__story {
    width: 100%;
    height: 55rem;

    position: relative;
    &__bg {
      position: relative;
      width: inherit;
      height: inherit;
      &--image {
        width: inherit;
        height: inherit;
        background-size: cover;
      }
    }
    &__bg::after {
      position: absolute;
      content: "";
      width: inherit;
      height: inherit;
      left: 0;
      background-color: rgba($color-tertiary, 0.4);
      z-index: 2;
    }

    &__text {
      position: absolute;
      width: 100%;
      padding-left: 2.4rem;
      padding-bottom: 4.8rem;
      bottom: 0;
      color: $color-white;
      z-index: 5;
      & .paragraph {
        font-weight: 300;
        margin-bottom: 0;
        padding-top: 1.6rem;
        width: 100%;
      }
      .heading-2 {
        text-transform: capitalize;
      }

      & hr {
        width: 97.6%;
        border-color: $color-white;
      }
    }
  }
}

// recent
.recent {
  position: relative;
  z-index: -1;
  margin-top: 9.6rem;
  padding-left: 9.6rem;
  padding-right: 9.6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @media (min-width: 320px) and (max-width: 576px) {
    flex-direction: column;
    margin-top: 4.8rem;
    padding: 2.4rem 2.4rem;
  }
  &__story {
    width: 60%;
    @media (min-width: 320px) and (max-width: 576px) {
      width: 100%;
    }
    & .heading-2 {
      font-size: 3rem;
      color: $color-tertiary;
      font-weight: 400;
    }
    &__cards {
      width: 100%;
      &__card {
        -webkit-box-shadow: 0px 0px 16px -3px rgba(207, 207, 207, 1);
        -moz-box-shadow: 0px 0px 16px -3px rgba(207, 207, 207, 1);
        box-shadow: 0px 0px 16px -3px rgba(207, 207, 207, 1);
        margin-top: 4em;
        width: 100%;
        &__image {
          position: relative;
          width: inherit;
          height: 35rem;
          &--image {
            width: inherit;
            height: inherit;
            // background-size: conver;
          }
          &__title {
            position: absolute;
            z-index: 5;
            bottom: 0;
            & .heading-4 {
              padding-bottom: 2.4rem;
              padding-left: 2.4rem;
              bottom: 0;
              color: $color-white;
            }
          }
        }
        &__image::after {
          position: absolute;
          content: "";
          width: inherit;
          height: inherit;
          top: 0;
          left: 0;
          background-color: rgba($color-secondary, 0.2);
          z-index: 2;
        }
        &__text {
          padding: 2.4rem;
          & .paragraph {
            font-weight: 300;
            margin-bottom: 0;
            font-size: 1.8rem;
            &:not(:first-child) {
              padding-top: 1.6rem;
            }
          }
        }
      }
    }
  }

  &__sidebar {
    width: 35%;
    @media (min-width: 320px) and (max-width: 576px) {
      padding: 4.8rem 0rem;
      width: 100%;
      display: none;
    }
    .heading-4 {
      font-size: 3rem;
      color: $color-tertiary;
      font-weight: 400;
    }

    &__new-posts {
      margin-top: 3em;
    }
  }
}

// top-menu
.menu {
  margin-top: 4.8rem;
  height: 12.4rem;
  position: relative;
  background-color: $color-tertiary;
  display: flex;
  align-items: center;
  &__columns {
    display: flex;
    padding: 0 9.6rem 0 9.6rem;

    &__col {
      &:not(:last-child) {
        margin-right: 9.6rem;
      }
      & .heading-4 {
        color: $color-secondary-light;
      }

      & .paragraph {
        color: $color-white;
        font-weight: 400;
      }

      &__icons {
        a:not(:last-child) {
          margin-right: 1.6rem;
        }
        & svg {
          fill: $color-white;
          height: 2.5rem;
          width: 2.4rem;
        }
      }
    }
  }
}

// story
.story {
  padding: 4.8rem 9.6rem 4.8rem 9.6rem;
}

.book {
  height: 100vh;
  position: relative;
  background-color: $color-primary;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 9.6rem 0 9.6rem;
  @media (min-width: 320px) and (max-width: 576px) {
    padding: 0rem 2.4rem;
    flex-direction: column-reverse;
    justify-content: flex-end;
    z-index: -1;
  }

  &__text {
    width: 35%;
    @media (min-width: 320px) and (max-width: 576px) {
      width: 100%;
      margin-top: 5rem;
    }

    & .heading-1,
    & .paragraph {
      color: $color-white;
      margin-bottom: 2rem;
    }

    &--btn {
      background-color: $color-tertiary;
      color: $color-white;
      padding: 1rem 6rem;
    }
  }

  &__image {
    z-index: 2;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    @media (min-width: 320px) and (max-width: 576px) {
      margin-top: 2rem;
      margin-right: 0;
      height: 50%;
      padding: 0 2.4rem;
    }
    &__container {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
      &--1 {
        position: absolute;
        left: 0rem;
        height: 40rem;
        width: 30rem;
        z-index: 9;
      }
      &--2 {
        position: absolute;
        z-index: 10;
        height: 50rem;
        width: 40rem;
      }
      &--3 {
        position: absolute;
        right: 0rem;
        height: 40rem;
        width: 30rem;
        z-index: 9;
      }
      @media (min-width: 320px) and (max-width: 576px) {
        &--1 {
          left: -12rem;
          height: 30rem;
          width: 20rem;
        }
        &--2 {
          height: 40rem;
          width: 30rem;
        }
        &--3 {
          right: -12rem;
          height: 30rem;
          width: 20rem;
        }
      }
    }
  }
}

.library {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 9.6rem;
  &__text {
    text-align: center;
    & .paragraph {
      width: 70rem;
      @media (min-width: 320px) and (max-width: 576px) {
        width: 100%;
      }
    }
  }
  &__books {
    display: flex;
    flex-direction: column;
    padding: 0rem;
    &__row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 5rem;
      @media (min-width: 320px) and (max-width: 576px) {
        flex-direction: column;
      }
      &__image {
        height: 45rem;
        width: 35rem;
        -webkit-box-shadow: 0px 2px 5px 1px rgba(133, 133, 133, 0.5);
        -moz-box-shadow: 0px 2px 5px 1px rgba(133, 133, 133, 0.5);
        box-shadow: 0px 2px 5px 1px rgba(133, 133, 133, 0.5);
        &:not(:last-child) {
          margin-right: 5rem;
          @media (min-width: 320px) and (max-width: 576px) {
            margin-right: 0;
            margin-bottom: 4.8rem;
          }
        }
      }
    }
  }
}
