.btn {
  padding: 1rem 4rem;
  font-size: 2.1rem;
  border-radius: 0.5rem;
  border: none;
}

// header-section
.header {
  position: relative;
  height: 100vh;
  background-color: $color-primary;
  display: flex;
  flex-direction: row;

  &__text {
    // margin-top: 30rem;
    width: 31%;
    margin-left: 9.6rem;
    margin-top: 20em;
    height: auto;

    & .heading-1,
    & .paragraph {
      color: $color-white;
      margin-bottom: 2rem;
    }

    &--btn {
      background-color: $color-tertiary;
      color: $color-white;
      padding: 1rem 6rem;
    }
  }

  &__image {
    position: absolute;
    z-index: 2;
    right: 10em;
    top: 20em;
    margin-bottom: 50rem;
    &--1 {
      height: 75rem;
      width: 67rem;
    }
  }

  &__image::after {
    position: absolute;
    z-index: -1;
    right: -10rem;
    top: -7rem;
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba($color-tertiary, 0.28);
  }
}

// about-section
.about {
  margin-top: 40rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 9.6rem;
  padding-right: 9.6rem;

  &__image {
    display: flex;
    flex-direction: column;

    &--row {
      display: flex;
      flex-direction: row;
    }

    &--1,
    &--2,
    &--3,
    &--4 {
      height: 30rem;
      width: 25rem;
      margin-right: 1rem;
      margin-bottom: 1rem;
      background-color: rgba($color-secondary, 0.28);
    }
  }

  &__content {
    margin-left: 13.5rem;
    & .heading-2 {
      text-transform: uppercase;
      color: $color-tertiary;
      margin-bottom: 2rem;
    }
  }
}

// stories-section
.stories {
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  padding-left: 9.6rem;
  padding-right: 9.6rem;
  margin-bottom: 10rem;

  & .heading-2 {
    min-width: 100%;
    text-align: center;
    color: $color-tertiary;
    text-transform: uppercase;
  }

  &__col {
    display: flex;
    justify-content: space-between;
    &__1 {
      display: flex;
      flex-direction: column;
      position: relative;
      margin-top: 5.6rem;
      width: 48.5%;

      &--image {
        width: 100%;
        height: 100%;
        &--1 {
          height: 100%;
          width: 100%;
          background-size: cover;
        }
      }

      &--image::after {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        content: "";
        background-color: rgba($color-secondary, 0.4);
        z-index: 1;
      }
    }

    &__2 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 5.6rem;
      width: 48.5%;

      &__row {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 50%;
        &:not(:last-child) {
          padding-bottom: 1.5rem;
        }
        &:not(:first-child) {
          padding-top: 1.5rem;
        }

        &__card {
          position: relative;
          &:not(:last-child) {
            margin-right: 1.7rem;
          }
          &:not(:first-child) {
            margin-left: 1.7rem;
          }
          height: 100%;
          width: 100%;
          &--image {
            width: 100%;
            height: 100%;
            &--1 {
              width: 100%;
              height: 100%;
            }
          }

          &--text {
            position: absolute;
            z-index: 2;
            padding: 2.4rem;
            bottom: 0;

            & .heading-4 {
              color: $color-white;
            }
            & .paragraph {
              color: $color-white;
              font-size: 1.6rem;
              margin-bottom: 0rem;
            }
          }
        }

        &__card::after {
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          content: "";
          background-color: rgba($color-tertiary, 0.4);
          z-index: 1;
        }

        &__card--2 {
          position: relative;
          &--image {
            height: 100%;
            width: 100%;
            &--1 {
              background-size: cover;
              width: 100%;
              height: 100%;
            }
          }

          &--image::after {
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            content: "";
            background-color: rgba($color-secondary, 0.7);
            z-index: 1;
          }

          &--text {
            position: absolute;
            z-index: 2;
            padding: 2.4rem;
            bottom: 0;

            & .heading-4 {
              color: $color-white;
            }
            & .paragraph {
              color: $color-white;
              font-size: 1.6rem;
              margin-bottom: 0rem;
              &:not(:last-child) {
                margin-bottom: 1rem;
              }
            }
          }
        }
      }
    }

    &__text {
      position: absolute;
      z-index: 2;
      padding: 2.4rem;
      bottom: 0;

      & .heading-4 {
        color: $color-white;
      }
      & .paragraph {
        color: $color-white;
        font-size: 1.6rem;
        margin-bottom: 0rem;
        &:not(:last-child) {
          margin-bottom: 1rem;
        }
      }
    }
  }
}

// contact-us
.contact {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  & .heading-2 {
    color: $color-tertiary;
    text-transform: uppercase;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 6.4rem;
    &__group {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 8rem;
      width: 80rem;
      & label {
        font-size: 1.6rem;
        font-weight: 400;
        font-family: $font-secondary;
      }

      & input {
        border: none;
        height: 50px;
        border-bottom: 1.8px solid $color-secondary;
        font-size: 2.1rem;
      }

      & textarea {
        border: none;
        border-bottom: 1.8px solid $color-secondary;
        font-size: 2.1rem;
      }
    }

    & .btn {
      background-color: $color-secondary;
      width: 30rem;
      color: $color-white;
      margin: 0 auto;
    }
  }
}

//  featured
.featured {
  padding-left: 9.6rem;
  padding-right: 9.6rem;

  &__story {
    width: 100%;
    height: 55rem;

    position: relative;
    &__bg {
      position: relative;
      width: inherit;
      height: inherit;
      &--image {
        width: inherit;
        height: inherit;
        background-size: cover;
      }
    }
    &__bg::after {
      position: absolute;
      content: "";
      width: inherit;
      height: inherit;
      left: 0;
      background-color: rgba($color-tertiary, 0.4);
      z-index: 2;
    }

    &__text {
      position: absolute;
      width: 100%;
      padding-left: 2.4rem;
      // margin-right: 20rem;
      padding-bottom: 2.4rem;
      bottom: 0;
      color: $color-white;
      z-index: 5;
      & .paragraph {
        font-weight: 300;
        margin-bottom: 0;
        padding-top: 1.6rem;
        width: 100%;
      }
    }
  }
}

.recent {
  margin-top: 12rem;
  padding-left: 9.6rem;
  padding-right: 9.6rem;

  & .heading-2 {
    text-transform: uppercase;
    // text-align: center;
    color: $color-tertiary;
  }
  &__story {
    margin-top: 5.6rem;
    &__cards {
      width: 65%;
      &__card {
        margin-top: 4em;
        width: 100%;
        &__image {
          position: relative;
          width: inherit;
          height: 45rem;
          &--image {
            width: inherit;
            height: inherit;
            background-size: cover;
          }
          &__title {
            position: absolute;
            z-index: 5;
            bottom: 0;
            & .heading-2 {
              padding-bottom: 2.4rem;
              padding-left: 2.4rem;
              bottom: 0;
              color: $color-white;
            }
          }
        }
        &__image::after {
          position: absolute;
          content: "";
          width: inherit;
          height: inherit;
          top: 0;
          left: 0;
          background-color: rgba($color-secondary, 0.2);
          z-index: 2;
        }
        &__text {
          padding: 2.4rem;
          & .paragraph {
            font-weight: 300;
            margin-bottom: 0;
            font-size: 1.8rem;
            &:not(:first-child) {
              padding-top: 1.6rem;
            }
          }
        }
      }
    }
  }
}
