.navbar {
  position: relative;
  z-index: 1;
  background-color: $color-primary;
  width: 100%;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  padding-left: 9.6rem;
  padding-right: 9.6rem;
  @media (min-width: 320px) and (max-width: 576px) {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }

  & .navbar-brand {
    z-index: 5;
    & img {
      @media (min-width: 320px) and (max-width: 576px) {
        width: 15rem;
        height: 3.4rem;
        padding: 0;
        margin: 0;
      }
    }
  }

  & .navbar-nav {
    margin-left: auto;
    align-items: center;
    @media (min-width: 320px) and (max-width: 576px) {
      align-items: flex-start;
    }
  }

  & .nav-item {
    &:not(:last-child) {
      margin-right: 4.8rem;
    }
    & .nav-link {
      padding: 0 0 0.5rem 0;
    }
    @media (min-width: 320px) and (max-width: 576px) {
      &:not(:last-child) {
        margin-bottom: 2.1rem;
      }
    }
  }

  & .navbar-item--icon {
    height: 2rem;
    width: 2.4rem;
    fill: $color-white;
  }
}

.navbar-collapse {
  @media (min-width: 320px) and (max-width: 576px) {
    position: absolute;
    height: 100vh;
    width: 100vw;
    padding: 12.4rem 2.4rem 0 2.4rem;
    top: 0;
    left: 0;
    background-color: $color-primary;
    z-index: 2;
  }
}

.navbar-dark .navbar-toggler {
  z-index: 5;
  border: none;
}

.active {
  color: $color-white;
  border-bottom: 0.15rem solid $color-secondary;
}

// .navbar-white {
//   position: relative;
//   background-color: $color-white;
//   margin-bottom: 3.2rem;

//   & .navbar-brand {
//     & svg {
//       fill: $color-primary;
//       height: 8rem;
//       width: 31.3rem;
//     }
//   }

//   & .nav-link {
//     color: $color-primary;

//     & .navbar-item--icon {
//       fill: $color-primary;
//       height: 2rem;
//       width: 2.4rem;
//     }
//   }
// }

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10rem;
  padding-top: 6.4rem;
  padding-left: 9.6rem;
  padding-right: 9.6rem;
  height: 30rem;
  background-color: $color-secondary;
  color: $color-white;

  @media (min-width: 320px) and (max-width: 576px) {
    flex-direction: column;
    padding: 6.4rem 2.4rem 6.4rem 2.4rem;
    height: auto;
  }

  &__links {
    & .heading-4 {
      margin-bottom: 2.4rem;

      & span {
        font-weight: 300;
      }
    }
    & li {
      &:not(:last-child) {
        margin-bottom: 1.6rem;
      }
      list-style: none;
      & a:link,
      & a:visited {
        color: $color-white;
        font-size: 2.1rem;
      }
    }
  }

  &__social {
    @media (min-width: 320px) and (max-width: 576px) {
      margin-top: 4.8rem;
    }
    &__form {
      position: relative;
      & input {
        height: 4rem;
        border: none;
        border-bottom: 5px solid $color-tertiary;
        padding-left: 0.8rem;
        width: 25rem;
        @media (min-width: 320px) and (max-width: 576px) {
          height: 5rem;
          width: 35rem;
        }
        &::placeholder {
          color: $color-secondary;
          font-size: 1.6rem;
          font-weight: 400;
        }
      }

      & button {
        position: absolute;
        background-color: $color-white;
        height: 4rem;
        @media (min-width: 320px) and (max-width: 576px) {
          height: 5rem;
        }
        border: none;
        padding-right: 0.8rem;
        border-bottom: 5px solid $color-tertiary;
        & svg {
          fill: $color-secondary;
          height: 2.4rem;
          width: 2.4rem;
        }
      }
    }

    &__media {
      margin-top: 3rem;
      & p {
        font-weight: 400;
        margin-bottom: 2.4rem;
      }

      & hr {
        margin: 0;
        margin-bottom: 2rem;
        width: 50%;
        border: 0.2px solid $color-white;
      }

      & a:link,
      & a:visited {
        outline: none;
        &:not(:last-child) {
          margin-right: 2rem;
        }
        & svg {
          height: 3.5rem;
          width: 3.5rem;
          fill: $color-white;
        }
      }
    }
  }
}
