.nav-link {
  font-size: 1.6rem;
  font-family: $font-secondary;
  font-weight: 400;

  @media (min-width: 320px) and (max-width: 576px) {
    font-size: 2.4rem;
  }
}

.heading-1 {
  font-size: 5rem;
  font-family: $font-secondary;
  font-weight: 800;
  @media (min-width: 320px) and (max-width: 375px) {
    font-size: 3rem;
  }
  @media (min-width: 400px) and (max-width: 576px) {
    font-size: 3.7rem;
  }
}

.heading-2 {
  font-size: 3.7rem;
  font-family: $font-secondary;
  font-weight: 700;
  @media (min-width: 320px) and (max-width: 360px) {
    font-size: 2.8rem;
  }
}

.heading-4 {
  font-size: 2.8rem;
  font-family: $font-secondary;
  font-weight: 700;
}

.paragraph {
  font-size: 2.1rem;
  font-family: $font-primary;
  font-weight: 300;
  @media (min-width: 320px) and (max-width: 375px) {
    font-size: 1.6rem;
  }
  @media (min-width: 400px) and (max-width: 576px) {
    font-size: 2.1rem;
  }
}
