.nav-link {
  font-size: 1.6rem;
  font-family: $font-secondary;
  font-weight: 400;
  padding-left: 6.4rem !important;
}

.heading-1 {
  font-size: 5rem;
  font-family: $font-secondary;
  font-weight: 800;
}

.paragraph {
  font-size: 2.1rem;
  font-family: $font-primary;
  font-weight: 300;
}
